/*

CSS STRUCTURE:

1. BASE
2. MEDIA QUERIES

/*============================================================================================*/
/* 1.  BASE  */
/*============================================================================================*/
.navbar{
	padding-bottom: 15px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #1c1c1c
}

.navbar-nav>li>a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 14px;
	color: #fff;
	text-transform: uppercase;
}
.navbar-nav>li>a:focus, 
.navbar-nav>li>a:hover {
  	color: #ece900;
  	background: transparent;
}
.navbar-nav>.active>a, 
.navbar-nav>.active>a:focus, 
.navbar-nav>.active>a:hover {
  	color: #ece900;
  	background-color: transparent;
}
.navbar-toggle {
  	border-color: #ece900;
}
.navbar-toggle .icon-bar {
  	background-color: #ffffff;
}
.navbar-toggle:focus, 
.navbar-toggle:hover {
  background-color: transparent;
}

/*============================================================================================*/
/* 2.  MEDIA QUERIES  */
/*============================================================================================*/
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	ul.nav{
		margin-top: 15px
	}
	.navbar-toggle{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width: 768px) and (max-width:991px ){
	.nav>li>a{
		padding: 12px;
	}
}
@media(min-width: 992px){
	.nav>li>a{
		padding: 15px;
	}
}